@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,500;1,700&family=Poppins:wght@300;400;600;700&display=swap');

body{
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: #5f9de6;
    min-height: 100vh;
    display: flex;
}

.formulario{
    text-align: center;
    background-color: aliceblue;
    margin: auto;
    padding: 4.5em 3em;
    border-radius: 10px;
    width: 90%;
    /*flex-wrap: wrap;*/
    max-width: 400px;
    /*min-width: 250px;*/
    /*margin-bottom: 0;*/
}



.contenedor_formulario{
    margin-top: 3em;
    display: grid;
    gap: 1em;
}

.grupo_form{
    position: relative;
    --color: #5757577e;
}

.contenedorInput{
    width: 100%;
    background: none;
    color: #5f9de6;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
}

.Titulo{
    display: flex;
    justify-content: center;
}

