body{
    background-color: #5f9de6;
    height: 90vh;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.login{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: aliceblue;
    display: block;
    border-radius: 10px;
    height: 50vh;
    width: 60vh;
    flex-wrap: wrap;
    min-width: 250px;
    margin-bottom: 0;
}

.ImgContainer{
    height: 10vh;
    width: 10vh;
}

.contenedor{
    display: flex;
    justify-content: center;
    height: 3vh;
    width: 50vh;
    padding: 8px;
    margin: 8px;
    flex-wrap: wrap;
    min-width: 250px;
}

.Titulo{
    display: flex;
    justify-content: center;
}

.btn{
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    height: 5vh;
    width: 20vh;
    min-width: 250px;
    flex-wrap: wrap;
}
